body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/*----global styling------*/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 4rem;
}

section {
    padding: 5rem 0rem;
}

.margin__small {
    margin: 1rem;
}


/*--------navigation--------*/

nav {
    height: 70px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.logo__container {
    display: flex;
}

.logo__container .logo__title {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.nav__container {
    display: flex;
    /*  flex-wrap: wrap; */
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.navigation ul {
    display: flex;
    font-size: 1.3rem;
}

.nav_item {
    margin: 0px 0.6rem;
}

.nav__link {
    color: white;
    opacity: 0.9;
    padding-bottom: 10px;
}

.nav__link:hover {
    color: white;
    opacity: 1;
    border-bottom: 2px solid white;
}

.social__media {
    font-size: 1.3rem;
}

.nav__download__btn {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #f3a953;
    font-weight: bold;
    color: rgb(43, 43, 43);
    cursor: pointer;
    transition: all 0.3s;
}

.nav__download__btn:hover {
    background-color: #f38c16;
    color: white;
}

.hamburger {
    display: none;
    color: white;
}

.fa-bars {
    position: absolute;
    right: 15px;
    top: 15px;
}


/*--------landing page--------*/

.landing__page {
    height: 600px;
}

.background__image {
    background-image: url(../assets/bg/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.landing__page__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding-left: 3rem;
}

.landing__page__img {
    flex-basis: 48.5%;
    display: flex;
    justify-content: space-between;
}

.landing__page__img img {
    width: 90%;
}

.landing__page__content {
    flex-basis: 48.5%;
    color: white;
}

.landing__page__content h1 {
    font-size: 4rem;
    line-height: 3.3rem;
    margin: 0rem;
    font-weight: 400;
}

.landing__page__content p {
    font-size: 1.7rem;
    margin: 1rem 0rem;
    font-weight: 400;
    line-height: 2rem;
}

.download__btn {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    background-color: #f3a953;
    font-weight: bold;
    color: rgb(43, 43, 43);
    transition: all 0.3s;
    cursor: pointer;
}

.download__btn:hover {
    background-color: #f38c16;
    color: white;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons div {
    padding: 1rem;
    background-color: #f2f3f3;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 1px 3px 0px rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons div i {
    font-size: 1.2rem;
    color: black;
}


/* -------feature------ */

.features__inner__container {
    display: flex;
    flex-wrap: wrap;
}

.features__img {
    flex-basis: 45%;
    display: flex;
    align-items: center;
}

.features__img img {
    width: 100%;
}

.features__content {
    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.feature__card {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

.feature__desc {
    font-size: 1.2rem;
    color: grey;
}

.feature__card i {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}


/*-----------tablet devices-----------------------------*/

@media only screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }
    /*--------------nav--------------*/
    /*--global--*/
    .container {
        width: 95%;
    }
    nav {
        height: 50px;
    }
    .toggle__collapse {
        height: 55vh;
    }
    .nav__container {
        flex-direction: column;
    }
    .navigation ul {
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }
    .nav_item {
        padding-top: 1rem;
    }
    .hamburger {
        display: initial;
    }
    .logo__container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
    }
    /*---landing page---*/
    .landing__page__content h1 {
        line-height: 4rem;
    }
    .background__image {
        background-image: url(../assets/bg/tab.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
    }
    .landing__page {
        height: 550px;
        width: 100%;
    }
    .icons div i {
        font-size: 1rem;
    }
    .landing__page__img .icons {
        display: none;
    }
}


/*-----------mob devices-----------------------------*/

@media only screen and (max-width: 375px) {
    html {
        font-size: 13px;
    }
    /*--global--*/
    .container {
        width: 99%;
    }
    nav {
        height: 60px;
    }
    .hamburger {
        font-size: 1.3rem;
    }
    /*landing page*/
    .landing__page {
        height: 90vh;
    }
    .landing__page__img {
        display: none;
    }
    .landing__page__content h1 {
        font-size: 3rem;
    }
    .landing__page__content {
        flex-basis: 90%;
    }
    .landing__page__container {
        padding-left: 1rem;
    }
}